
.carta-container{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-evenly;
    height: 100%;
    padding: 0%;
}
.item1{
    padding-top: 1%;
    margin: 0%;
    width: 100%;
    align-items: center;
    font-size: 1.6rem ;
    color: antiquewhite;
    text-align: center ;
    justify-content: center;
    grid-column: 1 / span 4;
    background-color: #D47C79;
}
.item2{
    font-size: 1.6rem ;
    border: 3px solid rgb(7, 7, 87);  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row: 2 / span 2;
    grid-column: 1 ;
  
}
.item3{
    margin-top: 3%;
    font-size: 2rem;
    padding-left: 2%;
    grid-row: 2;
    grid-column: 2/ span 3;
    justify-content: flex-start;
    align-items: center ;
}
.item4{
    display: flex;  
    justify-content: space-evenly ;
    align-items: center;
    grid-column: 2/ span 3;
    grid-row: 3;
}

.img-it{
    margin: 3%;
    width: 100%;
}

.carta-h4{
    font-size: 2rem;
}
.carta-p{
    font-size: 20px;
}
.div-img{
   display: flex;
}


/* ++++++++++++++++++++++ */
.carta-container2{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-evenly;
    border-top: 0px;
    height: 100%;
    padding: 0%;
    gap:0px;
    
}

.item5{
    font-size: 1.6rem ;
    border: 3px solid rgb(7, 7, 87);  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row: 2 / span 2;
    grid-column: 1 ;
    margin-top: 0%;
    padding-top: 0%;   
}

.item6{
    margin-top: 3%;
    font-size: 2rem;
    padding-left: 2%;
    grid-row: 2;
    grid-column: 2/ span 3;
    justify-content: flex-start;
    align-items: center ;
}
.item7{
    display: flex;  
    justify-content: space-evenly ;
    height: 100%;
    width: 100%;
    align-items: center;
    grid-column: 2/ span 3;
    grid-row: 3;
}

@media(max-width: 800px){
    .carta-container{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        /* grid-template-rows: 10% 30% 30% 30%; */
        justify-content: space-evenly;
        height: 100%;
        padding: 0%;
        gap: 3px;
    }
    .item1{
        padding-top: 1%;
        margin: 0%;
        width: 100%;
        align-items: center;
        font-size: 1.6rem ;
        color: antiquewhite;
        text-align: center ;
        justify-content: center;
        grid-column: 1 / span 2;
        background-color: rgb(7, 7, 87);
    }
    .item2{
        font-size: 1.6rem ;
        border: 3px solid rgb(7, 7, 87);  
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-row: 2 / span 3;
        grid-column: 1 ;
      
    }
    .item3{
        margin-top: 3%;
        font-size: 1rem;
        padding-left: 2%;
        grid-row: 2;
        grid-column: 2;
        justify-content: flex-start;
        align-items: center ;
    }
    .item4{
        display: flex;  
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-column: 2;
        grid-row: 4;
    }
    .carta-h4{
        font-size: 2rem;
    }
    .carta-p{
        font-size: 15px;
    }
    .img-it{

        width: 100%;
    }
 
    
/* ****************************** */
.carta-container2{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-evenly;
    border-top: 0px;
    height: 100%;
    padding: 0%;
    gap:0px;
    
}

.item5{ 
    font-size: 1.6rem ;
    border: 3px solid rgb(7, 7, 87);  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row: 1 / span 4;
    grid-column: 1 ;
  
}

.item6{
    margin-top: 3%;
    font-size: 1rem;
    padding-left: 2%;
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-start;
    align-items: center ;
}
.item7{
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: 2;
    grid-row: 4;
}

}

@media(max-width: 600px){
    .carta-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item1{
        display: none;
    }
    .item2{
        font-size: 1.6rem ;
        border: 1px solid rgb(7, 7, 87);  
        width: 98%;
        height: 5rem;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        text-align: center;
        padding-left: 2%;
        margin-bottom: 0%;
      
    }
    .item3{
        margin-top: 3%;
        font-size: 1rem;
        padding-left: 2%;
        justify-content: flex-start;
        align-items: center ;
    }
    .item4{
        width: 100%;
        height: 100%;
        display: flex;  
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .carta-h4{
        margin: 0%;
        font-size: 2rem;
    }
    .carta-p{
        font-size: 15px;
    }
    .img-it{
        height: 100%;
        width: 100%;
    }
    img{
        width: 100%;
        height: 100%;
    }
 
    
/* ****************************** */
.carta-container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.item5{ 
    font-size: 1.6rem ;
        border: 1px solid rgb(7, 7, 87);  
        width: 98%;
        height: 5rem;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        text-align: center;
        padding-left: 2%;
        margin-bottom: 0%;
  
}

.item6{
    margin-top: 3%;
    font-size: 1rem;
    padding-left: 2%;
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-start;
    align-items: center ;
}
.item7{
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: 2;
    grid-row: 4;
}

}