.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.galeria-container img:nth-child(1),
.galeria-container img:nth-child(4),
.galeria-container img:nth-child(5),
.galeria-container img:nth-child(8) {
    filter: brightness(60%);
}
.img-galeria{
    margin: 1%;
}
.galeria-container img:hover{
    filter: brightness(0.5);
    transform: scale(0.9);
    border: 5px ridge rgb(142, 142, 237);
}