.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    z-index: 9;
}
.galeria-container, .img-div:nth-child(1),
.galeria-container, .img-div:nth-child(4),
.galeria-container, .img-div:nth-child(5),
.galeria-container, .img-div:nth-child(8) { 
    filter: brightness(75%)
}
.img-galeria{
    margin: 1%;
    width: 100%;
}

@keyframes ejercicio {
    rotate   0% {
        transform: rotate(0deg) scale(1);
        filter: grayscale(0);

      }
      100% {
        transform: rotate(30deg) scale(1.5);
        filter: grayscale(1);

      }
}
.img-galeria:hover{
    animation: ejercicio 2s;

}
.img-div{
 overflow: hidden;
 margin: 0.1%;

}

@media(max-width: 800px){
    .galeria-container{
        display: flex;
        align-items: center;
        margin-bottom: 10%;
    }
    .img-div{
        width: 49%;
    }
}

@media(max-width: 600px){
    .galeria-container{
        display: flex;
        align-items: center;
        margin-bottom: 10%;
    }
    .img-div{
        width: 100%;
    }
}